#html svg polygon:nth-child(1) {
    fill: #FF5722;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  #html :nth-child(1) {
    fill: #FF5722;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  #html {animation-timing-function: linear;}
  @keyframes example {
    0%   {fill : #fd9902; left:0px; top:0px;}
    25%  {fill :rgb(255, 8, 0); left:-50px; top:-400px;} 
    50%  {fill :blue; left: -50px; top:400px;}
    75%  {fill :green;  left:0px; top:-400px;}
    100% {fill :rgb(107, 0, 115); left:-50px; top:400px;}
  } 
/* ********************************************************* */
#css svg polygon:nth-child(1) {
  fill: #FF5722;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#css :nth-child(1) {
  fill: #FF5722;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#css {animation-timing-function: ease-in-out;}
@keyframes  example {
  0%   {fill : #fd9902; left:0px; top:0px;}
  25%  {fill :rgb(255, 8, 0); left:-50px; top:-200px;} 
  50%  {fill :blue; left: -50px; top:200px;}
  75%  {fill :green;  left:0px; top:-400px;}
  100% {fill :rgb(107, 0, 115); left:-50px; top:400px;}
} 
.phone svg {
  position: relative;
  width: 50px;
  height: 90px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transition: all 1s;
  top: 10px;
  }

  .phone svg{
    -webkit-animation: 1600ms pulsate infinite alternate ease-in-out;
    -moz-animation: 1600ms pulsate infinite alternate ease-in-out;
    -ms-animation: 1600ms pulsate infinite alternate ease-in-out;
    -o-animation: 1600ms pulsate infinite alternate ease-in-out;
    animation: 1600ms pulsate infinite alternate ease-in-out;
  }
  .phone svg:before,
  .phone svg:after { 
    position: absolute; 
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  .phone svg:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
  }
  .phone svg.css:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -webkit-animation:'';
    -moz-animation:none;
    -ms-animation:'';
    -o-animation:'';
    animation:'';
  }
  
  @keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }
  @-webkit-keyframes pulsate {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.3); }
    100% { -webkit-transform: scale(1); }
  }
  @-moz-keyframes pulsate {
    0% { -moz-transform: scale(1); }
    50% { -moz-transform: scale(1.3); }
    100% { -moz-transform: scale(1); }  
  }
  @-ms-keyframes pulsate {
    0% { -ms-transform: scale(1); }
    50% { -ms-transform: scale(1.3); }
    100% { -ms-transform: scale(1); }  
  }
  @-o-keyframes pulsate {
    0% { -o-transform: scale(1); }
    50% { -o-transform: scale(1.3); }
    100% { -o-transform: scale(1); }  
  }