@media(max-width: 800px) {
    .information {
        flex-direction: column-reverse;
    }
    .cont span {
        display: none;
    }
    .news__slider {
        max-width: 555px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px 0 #3498db inset, 0 0 15px 10px #3498db;
        padding: 12px 35px 15px 35px;
        position: relative;
    }
    .portret {
        width: 30%;
    }
    .news__slider-inner .slick-btn {
        top: auto;
        bottom: -60px;
    }
    h2.position {
        margin-top: 150px;
    }
}

@media(max-width: 670px) {
    .shop-p {
        position: relative;
        left: 0;
    }
}

@media(max-width:600px) {
    .navigation {
       font-size: 18px;
    }
    .portret {
        width: 50%;
    }
    .portret img {
        width: 100%;
        height: 100%;
    }
    
}
@media(max-width: 500px) {
    .navigation a {
        padding: 0px;
        margin: 6px 6px;
    }
    h2.position {
        margin-top: 80px;
    }
    .portret {
        width:40%;
}
